
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
  /*page1234*/
  .entete{
    padding: 1rem;
}

.entete div {
    display: flex;
}
.lienindex {
    padding-top : 10px;
    padding-left : 10px;
    color: black;
    margin-right: 60px;
}
       
.logo {
    font-family: Shrikhand,"cursive";
     margin: 0;
    text-align: center;
}
img {
    width: 100% ;
    height: 250px ;
    object-fit: cover;
}
.menu {
    width: 100%;
    margin-top: -4rem;
    border-radius: 2rem  2rem 0 0;
    background-color: #f2f2f2f2;
    position: relative;
    font-size: 10px;
    width: 100%;
}

.menu header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;    
}
.menu h1 {
    font-family: Shrikhand,"cursive";
}
.menu-btn {
    height: 2rem;
    width: 30px; 
    background-color: transparent;
    border: 0 solid transparent;
    padding: 0 ;
    margin-right: 45 px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointeur;
}

.searchfoncfonc-Icon {
    position: absolute;
    top: 25px;
    font-size: 25px ;
    transition-duration: .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-btn:hover{
    opacity: 1;
    transition: .5s;
transition-property: all;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 0s;
background: linear-gradient( 0deg ,rgba(147,86,220,.9),rgba(255,121,218,.9));
   
}

.searchfoncfon-Icons{
    font-size: 25px;
    mix-blend-mode: lighten;
    cursor: pointer;
}



.entree{
    width: 100% ;
    display: flex;
    flex-direction: column;
    animation-name: entre;
    transform:scale(1);
    animation-duration: 3s; 
}
@keyframes entre{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }   
}
.entree H2{
    font-weight: 400;
    margin-left: 10px;
    border-bottom: 1px rgb(14,209,69) solid;
    width: 8%;
}
.menu-detail{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 20px #0000002e;
    cursor: pointer;
    height: 60px;
    margin: 10px;
    padding: 10px;
   
}  

.menu-detail-titre {
    font-size: 12px;
    padding: 1px;
}
.menu-prix {
    position: absolute;
    right: 25px ;
    margin-top: 30px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}
.menu-valide {
    opacity: 0;
    position:absolute;
    right: -40px;
    background-color: #99e2d0;
    width: 3rem;
    height: 5rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-validation {
    height: 1.6rem;
    width: 1.6rem ;
    background-color: #fff ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
}
.menu-validationicon {
    color: #99e2d0;
}
.menu-detail:active .menu-prix{
    margin-left: 20px;
}
.menu-detail:hover .menu-valide{
    margin-right: 40px;
    opacity: 1;
}

.plats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation-name: plat;
    transform:scale(1);
    animation-duration: 2s; 
}
@keyframes plat{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }   
}

.plats H2 {
    font-weight: 400;
    margin-left: 20px;
    border-bottom: 1px rgb(14,209,69)solid;
    width: 8%;
}

.desserts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation-name: dessert;
    transform:scale(1);
    animation-duration: 1s; 
}
@keyframes dessert{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(1);
    }   
}

.desserts  H2 {
    font-weight: 400;
    margin-left: 20px;
    border-bottom: 1px rgb(14,209,69)solid;
    width: 8%;
}
.commande {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}
.commande :hover {
    transition-duration: 0,1s;
}
.commande button{
    border: 0;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient( 0deg ,rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    cursor: pointer;
}
  
/*page mobile 1234*/
@media all and (min-width: 1024px){
    .entete{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    main{
        width: 100%;
    }
    
    .menu h1{
        font-size: 25px;
    }    
    .menu-btn{
        height: 4rem;
        width: 50px;
    }
    .searchfoncfon-Icons{
        top: 0;
        font-size: 30px;
    }
    .carte-detail{
        display:flex;
    }  
    .entree h2{
        font-size: 20px;
    }  
    .menu-detail{
        font-size: 15px;
    }
    .plats h2{
        font-size: 20px;
    }
    .desserts h2{
        font-size: 20px;
    }
    .commande button{
        font-size: 20px;
    }
    


}
