@media (max-width: 480px){
    body {
        font-family:"sans-serif";
        margin: 0;
      }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header img {
        height: 2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .searchbar{
        background-color: grey;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-spacing: 10px;
    }
    header i{
        justify-content: space-evently;
    }
    main{
        width: 100%;
    }
    section{
        width: 100%;
        background-color: #F2F2F2;
    }
    .searchentete{
        background-color: #F2F2F2;
    }
    section h1 {
        text-align: center;
        font-size: 30px;
         margin: 80px;
    }
    section p{
        text-align:center;
        text-align: center;
        font-size: 20px;
         margin: 35px;
    }
    .searchexplorer{
        color: white;
        background-color: rgb(146,61,186);
        box-shadow: 0 0 20px #0000002e;
        border-radius: 2rem;
        cursor: pointer;
        transition-duration: 0.1s;
        height: 40px;
        margin: 100px;
    }
    .searchexplorer :hover{
        transition-duration: 0.1s;
    }
    .searchexplorer p{
        padding-top: 8px;
    }
    .searchfonctionnement{
        background-color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .searchfonctfonct{
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #F2F2F2;
        box-shadow: 0 0 20px #0000002e;
        border: 1px solid #f2f2f2;
        border-radius: 2rem;
        margin: 20px;
        padding: 10px;
        cursor: pointer;
        transition-duration: 0.1s;
    }
    .searchfonctfonct :hover{
        color:rgb(186, 61, 165)
    }
    .searchfoncfoncWrapicon{
        background-color: rgb(146,61,186);
        border-radius: 100%;
        min-height: 2rem;
        min-width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
         margin-left: -30px;
        }
    .searchfonctnumber{
        color: white;
    }
    .searchfonctfonct i span{
        margin: 0 1rem;
    }
    .searchfoncfoncWrapiconIcon{
        color: grey;
         margin: 30px;
    }
    .restaurant{
        width: 100%;
        background-color: #F2F2F2;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: center;
    }
    .restaurant figure{
        background-color: white;
        border-radius: 1.25rem;
        box-shadow: 0 0 20px #0000002e;
        box-sizing: border-box;
        cursor: pointer;
        transition-duration: 0.1s;
        height: 300px;
        width: 90%;
      }
      .restaurant figure :hover{
        transform: scale(1.02);
      }
      .restaurant img{
        height: 75%;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
      }
      .restaurant figcaption{
          display: flex;
          flex-direction:column;
          align-items: flex-start;
      }
      .restaurant figcaption h3{
        margin: 0.25rem 0.75rem 0 0.75rem;
      }
      .restaurant figcaption p{
        margin: 0.25rem 0.75rem 0 0.75rem;
      }
      .wrapiconIcon{
          position: absolute;
      }
      .wrapiconIcon :hover{
          color:rgb(186, 61, 165);
      }
      footer{
          width: 100%;
          background-color: black;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
      }
      footer img{
          height: 2rem;
          color: white;
      }
      footer div{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
      }
      footer div a{
          color:white;
      }
      footer div i{
          margin-right: 5px;
          color:white;
      } 

    }

  /*code css page 1 2 3 4 en media 480px*/
  @media (max-width: 480px){
    body {
        font-family:"sans-serif";
        margin: 0;
      }
    header{
        width: 100%;
        display: flex;
    }
    header i{
        
    }
    header img {
        height: 2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main{
        width: 100%;
    }
    .menu{
        font-size: 10px;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu img{
        width: 100%;
        height: 300px;
    }
    .menu header{
        border-top-right-radius: 2rem;
    }
    .menu h1{
        font-style: italic;
        margin: 0;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .entree{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .entree H2 {
        margin-left: 20px;
        border-bottom: 1px rgb(14,209,69) solid;
    }
    .entreedetail{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        background-color: white;
        border-radius: 1.25rem;
        box-shadow: 0 0 20px #0000002e;
        box-sizing: border-box;
        cursor: pointer;
        transition-duration: 0.1s;
        height: 90px;
        margin: 10px;
        padding: 10px;
    }
    .entreedetail p{
        font-size: 12px;
        margin-top: 10px;
         margin-left: -1px;
    }
    .plats{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start; 
    }
    .plats H2 {
        margin-left: 20px;
        border-bottom: 1px rgb(14,209,69) solid;
    }
    .platsdetail{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        background-color: white;
        border-radius: 1.25rem;
        box-shadow: 0 0 20px #0000002e;
        box-sizing: border-box;
        cursor: pointer;
        transition-duration: 0.1s;
        height: 90px;
        margin: 10px;
        padding: 10px;
    }
    .platsdetail p{
        font-size: 12px;
        margin-top: 10px;
         margin-left: -1px;
    }
    .desserts{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start; 
    }
    .desserts H2 {
        margin-left: 20px;
        border-bottom: 1px rgb(14,209,69) solid;
    }
    .dessertsdetail{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        background-color: white;
        border-radius: 1.25rem;
        box-shadow: 0 0 20px #0000002e;
        box-sizing: border-box;
        cursor: pointer;
        transition-duration: 0.1s;
        height: 90px;
        margin: 10px;
        padding: 10px;
    }
    .dessertsdetail p{
        font-size: 12px;
        margin-top: 10px;
         margin-left: -1px;
    }
    .commande{
        color: white;
        background-color: rgb(146,61,186);
        box-shadow: 0 0 20px #0000002e;
        border-radius: 2rem;
        cursor: pointer;
        transition-duration: 0.1s;
        height: 40px;
        margin: 100px;
    }
    .commande :hover{
        transition-duration: 0.1s;
    }
    .commande p{
        padding-top: 8px;
    }
    .footer{
        font-size: 10px;
        display:flex;
        flex-direction:column;
        height: 500px;
        width: 100%;
    }
    footer img {
        height: 20px;
        width: 50px;
    }
    footer div{
        display: flex;
        flex-direction:column;
    }
  } 
