@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.contenair-loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    animation: loader .01s;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes loader{
    from{
        transform:scale(0);
        opacity: 1;
    }
    to{
        transform:scale(1);
        opacity: 0;
    }  
}

.loader{
    display: flex; 
    width: 200px;
    border-radius: 100%;
    justify-content: space-between;
}
.load_bar{
    background-color: rgb(161, 47, 255);
    height: 20px;
    width: 20px;
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
    animation-play-state: running;   
}
@keyframes spinner{
    from{
        background-color: #9356dc;
    }
    50%{
        background-color: #ff79da;
    }
    to{
        background-color: #99E2D0;
    }
}

main{
    width: 100%;
}
.searchbar{
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar i{
    margin-right: 10px;
}
section{
    width: 100%;
}
.searchentete{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h1 {
    text-align: center;
}
.searchentete p{
    text-align: center;
    font-weight: 200;
    margin-top: -5px;
}
.searchexplorer{
    margin-bottom: 50px;
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}
.searchfonctionnement{
    background-color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.searchfonctionnement h2{
    margin-left: 10px;
}
.searchfonctfonct{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2F2F2;
    box-shadow: 0 0 20px #0000002e;
    border: 1px solid #f2f2f2;
    border-radius: 1rem;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.searchfonctfonct :hover{
    color:rgb(186, 61, 165)
}
.searchfoncfoncWrapicon{
    background-color: rgb(146,61,186);
    border-radius: 100%;
    min-height: 1.5rem;
    min-width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-left: -25px;
     margin-right: 20px;
    }
.searchfonctnumber{
    color: white;
    font-size: 15px;
}
.searchfonctfonct i span{
    margin: 0 1rem;
}
.searchfoncfoncWrapiconIcon{
    color: grey;
    font-size: 20px;
    margin-right: 20px;
}
.restaurant{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5px;
}
.carte{
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 20px #0000002e;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.1s;
    height: 274px;
    width: 90%;
    margin-bottom: 20px;
  }
  .carte :hover{
    transform: scale(1.02);
  }
  .restaurant h2{
      margin-right: 210px;
  }
  .carte img{
    height: 75%;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .carte span{
    background-color: #99e2d0;
    color: #1b6150;
    padding: 8px;
    position: absolute;
    right: 25px;
    margin-top: 30px;
  }
  .restaurant figcaption{
      color: black;
      display: flex;
      flex-direction:column;
      align-items: flex-start;
  }
  .restaurant figcaption h3{
    margin: 0.25rem 0.75rem 0 0.75rem;
  }
  .restaurant figcaption p{
    margin: 0.25rem 0.75rem 0 0.75rem;
  }
  .wrapiconIcon{
      cursor: pointer;
      position: absolute;
      right: 20px;
      font-size: 25px;
      margin-top: 10px;
  }
  .wrapiconIcon :hover{
      transition-duration: 0.50s;
      color:rgb(186, 61, 165);
  }
 

  @media all and (max-width: 1022px) and (min-width: 481px){
      section h1{
          font-size: 30px;
      }
      .searchentete p{
          font-size: 20px;
      }
      .searchexplorer{
          height: 30px;
          padding-top: 20px;
      }
      .searchfonctionnement h2{
          margin-left: 20px;
      }
      .searchfonctfonct{
          margin-right: 50px;
          margin-left: 50px;
      }
      .searchfoncfoncWrapicon{
          min-height: 2rem;
          min-width: 2rem;
          margin-left: -30px;
      }
      .searchfoncfoncWrapiconIcon{
          margin: 30px;
      }
      .restaurant h2{
          margin-right: 310px;
      }
      .wrapiconIcon{
          right: 70px;
          margin-top: 15px;
      }

  }
/*version tablette*/
  @media all and (max-width: 1300px) and (min-width: 1023px){
      main{
          width: 100%;
          margin-top: 0;
      }
      section{
          width: 100%;
      }
      section h1{
          font-size: 30px;
      }
      .searchentete p{
          font-size: 20px;
      }
      .searchexplorer{
          height: 40px;
          margin-bottom: 20px;
      }
      .searchexplorer p{
          padding: 20px;
      }
      .searchfonctionnement{
          font-size: 15px;
      }
      .searchfonctionnement h2{
          margin-left: 20px;
      }
      .searchfonct{
          display:flex;
          flex-direction: row;
      }
      .searchfonctfonct{
          width: 300px;  
          margin-right: 80px;
          margin-left: 50px;
      }
      .searchfoncfoncWrapicon{
          min-height: 2rem;
          min-width: 2rem;
          margin-left: -30px;
      }
      .searchfoncfoncWrapiconIcon{
          margin: 20px;
      }
      .restaurant{
          width: 100%;
      }
      .groupecarte{
          display: flex;
      }
      .carte{
        height: 250px;
        width :  600px;
        margin-bottom: 20px;
        margin: 30px;
      }
      .restaurant h2{
        margin-right: 0;
        margin-left: 35px;
        margin-top: 20px;  
      }
      .wrapiconIcon{
          right: 70px;
          margin-top: 15px;
      }

  }

  /*version pc*/
  @media all and (max-width: 2560px) and (min-width: 1301px){
      main{
          width: 100%;
      }
      .section{
          width: 100%;
      }
      .searchfonct{
          display: flex;
          flex-direction: row;
      }
      .searchfonct{
        display:flex;
        flex-direction: row;
    }
    .searchfonctfonct{
        width: 300px;  
        margin-right: 80px;
        margin-left: 50px;
    }
    .searchfoncfoncWrapicon{
        min-height: 2rem;
        min-width: 2rem;
        margin-left: -30px;
    }
    .searchfoncfoncWrapiconIcon{
        margin: 20px;
    }
    .restaurant{
        width: 100%;
    }
      .groupecarte{
          display: flex;
          margin
      }
      .carte{
          height: 300px;
          width: 700px;
          margin: 10px;
      }
      .restaurant h2{
          font-size: 30px;
      }


      }
  }